#skill__color__description
{
  width:80%;
  margin:auto;

  h3{
    font-size:1.2em;
    text-align:center;
    font-weight:bold;
  }
}
#skills__container{
  display:flex;
  flex-wrap:wrap;
  width:70%;
  margin:auto;
}

#skill__separator{
  width:40%;
  margin:2em auto;
}

.skill__item{
  width:auto;
  border-radius: 30px;
  padding: 0.4em;
  text-align:center;
  margin: 0.5em;

}
.item__color__description{
  border: solid 1px black;
  border-radius: 30px;
  padding: 0.4em;
  text-align:center;
  width:50%;
  margin:0.5em auto;
  //color:white;
}

.item__color__description:nth-child(1){
  background-color:#CCD1D1;
  border: #CCD1D1;
}

.item__color__description:nth-child(2){
  background-color:#b2e0e0;
  border:#b2e0e0;
}

.item__color__description:nth-child(3){
  background-color:#66c0c2;
  border:#66c0c2;
}
.item__color__description:nth-child(4){
  background-color:#cc6699;
  border:#cc6699;
}


#item__container{
  width:70%;
  margin:auto;
}

.skill__item:hover{
 font-weight:bold;
}

#text__skill{
  width:50%;
  margin:3em auto;
}

.text__title{
  font-weight:bold;
  color: $color-title;
  font-size:1.2em;
}



@media(min-width: $breakpoint-medium){
  #item__container{
    display:flex;
    margin:1em auto;
    justify-content: space-between;
    
  }

 

  .item__color__description{
    margin:auto;
    width:auto;
  }

  #skills__container{
    width:70%;
  }

  
  
}
